@import 'app/shared/common.scss';

.footer {
  @include mobile {
    height: 100px;
    font: 10px/14px TTNormsProRegular;
  }
  @include computer {
    height: 62px;
    font: 14px/32px TTNormsProRegular;
  }
  text-align: center !important;
  letter-spacing: 0.28px;
  color: #333333;
  opacity: 0.6;
}
