@import 'app/shared/common.scss';

.results-labels {
  text-align: center;
  letter-spacing: 0;
  color: #333333;
  opacity: 1;
  @include mobile {
    font: 12px/13px TTNormsProBoldItalic;
  }
  @include computer {
    font: 20px/24px TTNormsProBoldItalic;
  }
}

/* ==========================================================================
results/average page styles
========================================================================== */

.results {
  margin: 80px 0 10% 10% !important;
  .results-granny-icon {
    height: 12vh !important;
    width: 12vh !important;
  }
  .results-granny-bubble {
    margin-left: 5%;
    background: #777eff 0 0 no-repeat padding-box;
    opacity: 1;
    border-radius: 100px 60px 80px 0;
    text-align: left;
    color: #ffffff;
    letter-spacing: 0;
    @include mobile {
      font: 2vh/2.55vh TTNormsProBoldItalic;
      height: 75%;
      padding: 3vh 10vw;
    }
    @include computer {
      height: auto;
      padding: 3.5vh 2vw 3vh 2vw;
      font: 4.13vh/4.5vh TTNormsProBoldItalic;
    }
  }

  .results-disclaimer {
    text-align: center !important;
    @include mobile {
      font: 14px/16px TTNormsProMedium !important;
    }
    @include computer {
      font: 19px/23px TTNormsProMedium !important;
    }
    letter-spacing: 0 !important;
    opacity: 1 !important;
  }

  .results-legend {
    text-align: center !important;
    @include mobile {
      font: 14px/16px TTNormsProBoldItalic !important;
    }
    @include computer {
      font: 19px/23px TTNormsProBoldItalic !important;
    }
    letter-spacing: 0 !important;
    text-transform: lowercase !important;
    opacity: 1 !important;

    &.me {
      color: #ff6666 !important;
    }

    &.others {
      color: #707070 !important;
    }
  }

  .filter-type {
    letter-spacing: 0;
    color: #707070;
    text-transform: lowercase;
    opacity: 1;
    @include mobile {
      font: 14px/16px TTNormsProBoldItalic;
    }
    @include computer {
      font: 19px/23px TTNormsProBoldItalic;
    }
  }

  .filter-buttons {
    background: #dbdbdb 0 0 no-repeat padding-box;
    opacity: 1;
    text-align: center;
    height: 48px !important;
    @include mobile {
      font: 13px/15px TTNormsProBold;
    }
    @include computer {
      font: 15px/17px TTNormsProBold;
    }
    letter-spacing: 0;
    color: #afafaf;
    text-transform: lowercase;
  }

  .results-description-title {
    text-align: left;
    font: 18px/24px TTNormsProBoldItalic;
    letter-spacing: 0.36px;
    color: #1e1e1e;
  }

  .results-description-content {
    text-align: left;
    font: 18px/24px TTNormsProMediumItalic;
    letter-spacing: 0.36px;
    color: #1e1e1e;
  }

  .profile-pill {
    display: inline-block;
    padding: 5vh 0;
    @include mobile {
      padding-left: 3.5vw;
      @include iphone5 {
        padding-left: 0;
      }
    }
    @include computer {
      padding-left: 6vw;
    }
  }

  .pill-container {
    display: flex;
    margin: 70px auto 70px auto;
    justify-content: center;
  }

  .pill {
    &.upper {
      background: #00000029;
      .pill-bar {
        background: #a1a1a1;
      }
    }
    &.lower {
      background: #a1a1a1;
      .pill-bar {
        background: #00000029;
      }
    }
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    overflow: hidden;
    border: 5px #ffffff solid;
    box-shadow: 0 3px 6px #00000029;
    padding: 0;
    border-radius: 50px;
    @include mobile {
      width: 36px;
      height: 200px;
    }
    @include computer {
      height: 424px;
      width: 65px;
    }
    &.personal-pill {
      &.upper {
        background: #ffe0e0;
        .pill-bar {
          background: #ff6666;
        }
      }
      &.lower {
        background: #ff6666;
        .pill-bar {
          background: #ffe0e0;
        }
      }
    }
  }

  .pill:first-child {
    margin-right: 5px;
  }

  .pill-bar {
    bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
  }

  .pill-label {
    @include mobile {
      font: 9px/11px TTNormsProBoldItalic;
    }
    @include computer {
      font: 14px/20px TTNormsProBoldItalic;
    }
    color: #ffffff;
    letter-spacing: 0;
    position: absolute;
    width: 100%;
    text-align: center;

    &.pill-label-top {
      top: 20px;
    }

    &.pill-label-bottom {
      bottom: 20px;
    }
  }
}
