@import 'app/shared/common.scss';
/* ==========================================================================
Fonts
========================================================================== */

@font-face {
  font-family: 'TTNormsProBlack';
  src: local('TTNormsProBlack'), url(../content/fonts/TTNormsProBlack.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProBlackItalic';
  src: local('TTNormsProBlackItalic'), url(../content/fonts/TTNormsProBlackItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProBold';
  src: local('TTNormsProBold'), url(../content/fonts/TTNormsProBold.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProBoldItalic';
  src: local('TTNormsProBoldItalic'), url(../content/fonts/TTNormsProBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraBlack';
  src: local('TTNormsProExtraBlack'), url(../content/fonts/TTNormsProExtraBlack.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraBlackItalic';
  src: local('TTNormsProExtraBlackItalic'), url(../content/fonts/TTNormsProExtraBlackItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraBold';
  src: local('TTNormsProExtraBold'), url(../content/fonts/TTNormsProExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraBoldItalic';
  src: local('TTNormsProExtraBoldItalic'), url(../content/fonts/TTNormsProExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraLight';
  src: local('TTNormsProExtraLight'), url(../content/fonts/TTNormsProExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProExtraLightItalic';
  src: local('TTNormsProExtraLightItalic'), url(../content/fonts/TTNormsProExtraLightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProItalic';
  src: local('TTNormsProItalic'), url(../content/fonts/TTNormsProItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProLight';
  src: local('TTNormsProLight'), url(../content/fonts/TTNormsProLight.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProLightItalic';
  src: local('TTNormsProLightItalic'), url(../content/fonts/TTNormsProLightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProMedium';
  src: local('TTNormsProMedium'), url(../content/fonts/TTNormsProMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProMediumItalic';
  src: local('TTNormsProMediumItalic'), url(../content/fonts/TTNormsProMediumItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProRegular';
  src: local('TTNormsProRegular'), url(../content/fonts/TTNormsProRegular.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProThin';
  src: local('TTNormsProThin'), url(../content/fonts/TTNormsProThin.ttf) format('truetype');
}
@font-face {
  font-family: 'TTNormsProThinItalic';
  src: local('TTNormsProThinItalic'), url(../content/fonts/TTNormsProThinItalic.ttf) format('truetype');
}

/* ==========================================================================
Styles
========================================================================== */

body {
  margin: 0;
  background: transparent linear-gradient(133deg, #ffffff 0%, #e3e3e6 100%) 0% 0% no-repeat fixed;
}

.app-container {
  margin: 0;
  min-height: calc(100vh - 80px);
  position: relative;
}

.app-sidebar {
  background: transparent url('/content/images/menu-bg.svg') 0 0 no-repeat padding-box !important;
  @include mobile {
    width: 100% !important;
    background-position: -8vh !important;
  }
  @include computer {
    width: 512px !important;
  }
  border-style: none !important;
  box-shadow: none !important;
}
