/* ==========================================================================
Breakpoints
========================================================================== */

$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;

/* ==========================================================================
Mixins
========================================================================== */
@mixin iphone5 {
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobileBreakpoint}) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tabletBreakpoint}) and (max-width: 991px) {
    @content;
  }
}

@mixin computer {
  @media (min-width: #{$computerBreakpoint}) {
    @content;
  }
}

/* ==========================================================================
Common Styles
========================================================================== */

.content-divider {
  width: 50%;
  margin: 45px 0;
  box-shadow: 0 3px 6px #00000029;
  border: 1px solid #707070;
  opacity: 0.22;
  &.results {
    width: 80%;
    margin: 45px 0 45px 0 !important;
  }
}
