/* ==========================================================================
Breakpoints
========================================================================== */

$mobileBreakpoint: 320px;
$tabletBreakpoint: 768px;
$computerBreakpoint: 992px;

/* ==========================================================================
Mixins
========================================================================== */
@mixin mobile {
  @media (min-width: #{$mobileBreakpoint}) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tabletBreakpoint}) and (max-width: 991px) {
    @content;
  }
}

@mixin computer {
  @media (min-width: #{$computerBreakpoint}) {
    @content;
  }
}
