@import 'app/shared/common.scss';

.progress {
  background-color: #ffffff;
  // height: 52px;
  padding-bottom: 10px;
  width: 100%;
  .progress-line {
    border-bottom: 2px solid #afafaf;
    width: 90%;
    max-width: 720px;
    @include mobile {
      margin-left: 5%;
    }
    @include computer {
      margin-left: 26%;
    }
    padding-top: 12px;
    margin-bottom: -12px;
  }
  .progress-bar {
    width: 90%;
    max-width: 720px;
    display: inline-block;
    @include mobile {
      margin-left: 5%;
    }
    @include computer {
      margin-left: 26%;
    }
    .progress-name {
      color: #afafaf;
      text-align: center;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      letter-spacing: 0;
      text-transform: capitalize;
      opacity: 1;
      @include mobile {
        font: 2.52vw/2.7vw TTNormsProMedium;
      }
      @include computer {
        font: 11px/12px TTNormsProMedium;
      }
      padding: 0 !important;
      @include mobile {
        &.name-0 {
          width: 12vw !important;
        }
        &.name-1 {
          width: 16vw !important;
        }
        &.name-2 {
          &.sc-0 {
            width: 10vw !important;
          }
          &.sc-1 {
            width: 19vw !important;
          }
        }
        &.name-3 {
          &.sc-0 {
            width: 13vw !important;
          }
          &.sc-1 {
            width: 12vw !important;
          }
        }
        &.name-4 {
          &.sc-0 {
            width: 12vw !important;
          }
          &.sc-1 {
            width: 13vw !important;
          }
        }
        &.name-5 {
          &.sc-0 {
            width: 19vw !important;
          }
          &.sc-1 {
            width: 10vw !important;
          }
        }
      }
      @include computer {
        width: 84px !important;
      }
      &.name-1,
      &.name-2,
      &.name-3,
      &.name-4 {
        @include mobile {
          margin-left: 1.8vw;
        }
        @include computer {
          margin-left: 43px;
        }
      }
      &.name-5 {
        @include computer {
          margin-left: 43px;
        }
      }
      &.active {
        color: #ff6666;
      }
    }
    .progress-dot {
      &.active {
        color: #ff6666;
      }
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
  }
}
