@import 'app/shared/common.scss';

/* ==========================================================================
Main page styles
========================================================================== */
.home-container {
  height: calc(100vh - 80px) !important;
  overflow: auto;
  overflow-y: hidden;
  .granny {
    @include mobile {
      left: 7px;
      width: 133px;
      height: 185px;
    }
    @include computer {
      top: 400px;
      left: 300px;
    }
    z-index: 1;
    position: absolute;
  }

  .stripes {
  }

  .images-computer {
  }

  .text-computer {
    padding-top: calc(100vh - 900px);
  }

  .home-title-1 {
    font-family: 'TTNormsProItalic', serif;
    background: #777eff 0% 0% no-repeat padding-box;
    color: #ffffff;
    border-radius: 230px 151px 200px 0;
    @include mobile {
      font-size: 22px;
      width: 244px;
      height: 149px;
      margin-top: 30px;
    }
    @include computer {
      font-size: 48px;
      max-width: 620px;
      height: 379px;
    }
    .home-title-2 {
      @include mobile {
        padding: 20px 0 0 35px;
      }
      @include computer {
        padding: 50px 0 0 100px;
      }
    }
    .home-title-3 {
      font-family: 'TTNormsProBoldItalic', serif;
      color: #ffffff;
      text-align: center;
      margin-bottom: 0;
      @include mobile {
        font-size: 38px;
      }
      @include computer {
        font-size: 98px;
      }
    }
    .home-title-4 {
      float: right;
      @include mobile {
        margin-right: 40px;
      }
      @include computer {
        margin-right: 100px;
      }
    }
  }

  .survey-button {
    font-family: 'TTNormsProBoldItalic', serif !important;
    color: #ffffff !important;
    background: #ff6666 0% 0% no-repeat padding-box !important;
    float: right;
    text-align: center;
    border-radius: 200px 151px 0 200px !important;
    @include mobile {
      font-size: 15px !important;
    }
    @include computer {
      font-size: 31px !important;
    }
  }

  .home-subtext {
    color: #333333;
    font-family: 'TTNormsProBoldItalic', serif;
    font-size: 20px;
    letter-spacing: 0;
  }
}
