@import 'app/shared/common.scss';

/* ==========================================================================
Main page styles
========================================================================== */
.home-container {
  margin-top: 80px;
  height: calc(100vh - 80px) !important;
  overflow: auto;
  overflow-y: hidden;
  .granny {
    position: absolute;
    @include mobile {
      width: 37vw;
      height: 30vh;
      left: -1vw;
      position: fixed;
      bottom: 0;
    }
    @include computer {
      width: 30vw;
      height: 65vh;
      top: 30vh;
      left: 18vw;
    }
    z-index: 1;
  }

  .stripes {
    @include mobile {
      left: -70vw !important;
      top: -6vh !important;
      transform: scale(2.5);
    }
    @include computer {
      top: 30vh !important;
      left: -18vw !important;
      transform: scale(1.5);
    }
  }

  .home-subtext {
    color: #333333;
    text-align: left;
    font: Bold Italic 20px/24px TT Norms Pro;
    letter-spacing: 0;
    @include mobile {
      width: 80%;
    }
    @include computer {
      margin-top: 9vh;
    }
  }
}
