@import 'app/shared/common.scss';

/* ==========================================================================
Main page styles
========================================================================== */
.home-container {
  margin-top: 80px;
  height: calc(100vh - 80px) !important;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  .granny {
    position: absolute;
    @include mobile {
      height: 45vh;
      left: -10vw;
      top: 50vh;
    }
    @include computer {
      height: 65vh;
      top: 30vh;
      left: 18vw;
    }
    z-index: 1;
  }

  .stripes {
    @include mobile {
      left: -70vw !important;
      top: -16vh !important;
      transform: scale(2.5);
    }
    @include computer {
      top: 25vh !important;
      left: -18vw !important;
      transform: scale(1.5);
    }
  }
  .bubble-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 0;
    font: 3vh/4vh TTNormsProBoldItalic;
    @include mobile {
      font: 2.5vh/3.55vh TTNormsProBoldItalic;
      width: 70%;
    }
  }

  .home-subtext {
    color: #333333;
    text-align: left;
    letter-spacing: 0;
    @include mobile {
      font: 3vh/3.55vh TTNormsProBoldItalic;
      width: 80%;
    }
    @include computer {
      font: 2.15vh/2.55vh TTNormsProBoldItalic;
    }
    .countdown {
      @include mobile {
        font: 2.8vh/3.3vh TTNormsProBoldItalic;
      }
      @include computer {
        font: 2.15vh/2.55vh TTNormsProBoldItalic;
      }
    }
  }

  .sponsored-by {
    color: #333333;
    text-align: left;
    letter-spacing: 0;
    font: 1.55vh/1.55vh TTNormsProBoldItalic;
  }
}
