@import 'app/shared/common.scss';

.news-page {
  .news-page-menu {
    @include computer {
      width: 45%;
    }
    .news-page-menu-item {
      text-align: left;
      font: 40px/45px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #401b00;
      opacity: 1;
    }
    .news-page-menu-secondary {
      text-align: left;
      font: 18px/24px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #707070;
      opacity: 1;
    }
  }
  .news-page-h1 {
    text-align: left;
    font: 34px/40px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #333333;
    opacity: 1;
  }
  .news-page-row {
    margin: 10vh 0 0 0;
  }
  .news-page-row:after {
    content: ''; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 60%; /* Change this to whatever width you want. */
    padding-top: 6vh; /* This creates some space between the element and the border. */
    border-bottom: 2px solid rgba(112, 112, 112, 0.3); /* This creates the border. Replace black with whatever color you want. */
  }
  .news-page-h3 {
    text-align: left;
    color: #afafaf;
    font: 16px/32px TTNormsProBold;
    letter-spacing: 0.32px;
    opacity: 1;
  }
  .news-page-p {
    font: 18px/26px TTNormsProRegular;
    text-align: left;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
  }
  .news-page-more-button {
    text-align: left;
    font: 14px/7px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
    background: #ff6666 0% 0% no-repeat padding-box !important;
    border-radius: 200px 151px 0 200px !important;
  }
}
