@import 'app/shared/common.scss';

.project-team-page {
  @include mobile {
    margin-top: 80px !important;
  }
  @include computer {
    margin-top: 240px !important;
  }
  .anchor {
    position: relative;
    top: -220px;
  }
  .project-team-page-header {
    margin-bottom: 7vh;
    color: #777eff;
    @include mobile {
      font: 33px/30px TTNormsProBold;
    }
    @include computer {
      font: 60px/60px TTNormsProBold;
    }
  }
  .project-team-page-image {
    @include mobile {
      width: 173px;
      height: 173px;
      margin: 0 0 0 25%;
    }
    @include computer {
      width: 280px;
      height: 420px;
      margin: auto;
    }
  }
  .project-team-page-title {
    letter-spacing: 0;
    color: #ff6666;
    opacity: 1;
    @include mobile {
      text-align: center;
      font: 33px/30px TTNormsProBoldItalic;
    }
    @include computer {
      text-align: left;
      font: 50px/50px TTNormsProBoldItalic;
    }
  }
  .project-team-page-subtitle {
    font: 16px/32px TTNormsProBold;
    letter-spacing: 0.32px;
    color: #1e1e1e;
    opacity: 1;
    @include mobile {
      text-align: center;
    }
    @include computer {
      text-align: left;
    }
  }
  .project-team-page-description {
    @include mobile {
      width: 95% !important;
    }
    @include computer {
      width: auto;
    }
    text-align: left;
    font: 18px/26px TTNormsProRegular;
    letter-spacing: 0.36px;
    color: #1e1e1e;
    opacity: 1;
  }
}
