@import 'app/shared/common.scss';

.project-page {
  margin-top: 20vh;
  .project-page-title {
    text-align: left;
    font: 40px/45px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #401b00;
    opacity: 1;
  }
  .project-page-subtitle {
    text-align: left;
    font: 30px/45px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #401b00;
    opacity: 1;
  }
  .project-page-content {
    @include mobile {
      font: 18px/26px TTNormsProRegular;
      letter-spacing: 0.36px;
      width: 100%;
    }
    @include computer {
      font: 22px/32px TTNormsProRegular;
      letter-spacing: 0.44px;
      width: 80%;
    }
    text-align: left;
    opacity: 1;
  }
  .project-page-content::first-letter {
    @include mobile {
      margin-top: 0.285em;
    }
    @include computer {
      margin-top: 0.4em;
    }
    float: left;
    margin-right: 0.15em;
    text-align: center;
    font: 95px/30px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #ff6666;
    opacity: 1;
  }
}
