@import 'app/shared/common.scss';

.project-team-page {
  margin-top: 100px !important;
  .project-team-page-image {
    width: 280px;
    height: 420px;
  }
  .project-team-page-title {
    text-align: left;
    font: Bold Italic 50px/30px TT Norms Pro;
    letter-spacing: 0;
    color: #ff6666;
    opacity: 1;
  }
  .project-team-page-subtitle {
    text-align: left;
    font: Bold 16px/32px TT Norms Pro;
    letter-spacing: 0.32px;
    color: #1e1e1e;
    opacity: 1;
  }
  .project-team-page-description {
    text-align: left;
    font: 18px/26px TT Norms Pro;
    letter-spacing: 0.36px;
    color: #1e1e1e;
    opacity: 1;
  }
}
