@import 'app/shared/common.scss';

.students-page {
  margin: -80px 0 50px 0;
  .students-page-top {
    background-image: url('/content/images/school-students-masked.png');
    background-repeat: no-repeat;
    @include mobile {
      padding: 25% 0;
    }
    @include computer {
      padding-top: 180px;
      height: 754px;
    }
    .students-page-top-title {
      text-align: left;
      font: 40px/45px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #333333;
      opacity: 1;
    }
    .students-page-top-subtext {
      @include mobile {
        font: 20px/25px TTNormsProRegular;
        letter-spacing: 0.4px;
      }
      @include computer {
        font: 22px/32px TTNormsProRegular;
        letter-spacing: 0.44px;
      }
      color: #333333;
      opacity: 1;
      text-align: left;
    }
    .students-page-top-subtext::first-letter {
      @include mobile {
        margin-top: 0.285em;
        margin-right: 0.285em;
      }
      @include computer {
        margin-top: 0.4em;
        margin-right: 0.25em;
      }
      float: left;
      text-align: center;
      font: 95px/30px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #ff6666;
      opacity: 1;
    }
  }
  .students-page-title {
    text-align: left;
    font: 35px/40px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #333333;
    text-transform: capitalize;
    opacity: 1;
  }
  .students-page-subtitle {
    font: 30px/35px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #777eff;
    opacity: 1;
    margin: 5vh 0;
  }
  .students-page-subtext {
    text-align: left;
    color: #333333;
    opacity: 1;
    @include mobile {
      font: 20px/28px TTNormsProBold;
      letter-spacing: 0.4px;
    }
    @include computer {
      font: 20px/32px TTNormsProBold;
      letter-spacing: 0;
    }
  }
  .students-page-text {
    text-align: left;
    color: #333333;
    opacity: 1;
    @include mobile {
      font: 20px/25px TTNormsProRegular;
      letter-spacing: 0.4px;
    }
    @include computer {
      font: 22px/32px TTNormsProRegular;
      letter-spacing: 0.44px;
    }
  }
  .students-page-more-button {
    text-align: left;
    font: 14px/7px TTNormsProBoldItalic;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
    background: #ff6666 0 0 no-repeat padding-box !important;
    border-radius: 200px 151px 0 200px !important;
  }
  .vertical-line {
    border-left: 11px solid #ff6666;
    opacity: 1;
    height: 100%;
  }
  .students-page-important {
    font: 25px/30px TTNormsProBoldItalic;
    letter-spacing: 0;
    text-align: left;
    color: #ff6666;
    opacity: 1;
  }
}
