@import 'app/shared/common.scss';

.young-adults-page {
  margin: -80px 0 50px 0;
  .young-adults-page-top {
    background-image: url('/content/images/young-masked.png');
    @include mobile {
      padding: 25% 0 50% 0;
    }
    @include computer {
      padding: 180px 0 25% 0;
    }
    .young-adults-page-top-title {
      text-align: left;
      font: Bold Italic 40px/45px TT Norms Pro;
      letter-spacing: 0;
      color: #333333;
      opacity: 1;
    }
    .young-adults-page-top-subtext {
      @include mobile {
        font: Bold 20px/25px TT Norms Pro;
        letter-spacing: 0.4px;
      }
      @include computer {
        font: Bold 22px/32px TT Norms Pro;
        letter-spacing: 0.44px;
      }
      color: #333333;
      opacity: 1;
      text-align: left;
    }
    .young-adults-page-top-subtext::first-letter {
      @include mobile {
        margin-top: 0.285em;
      }
      @include computer {
        margin-top: 0.4em;
      }
      float: left;
      margin-right: 0.15em;
      text-align: center;
      font: Bold Italic 95px/30px TT Norms Pro;
      letter-spacing: 0;
      color: #ff6666;
      opacity: 1;
    }
  }
}
