@import 'app/shared/common.scss';

.young-adults-page {
  margin: -80px 0 50px 0;
  .young-adults-page-top {
    background-image: url('/content/images/young-masked.png');
    background-repeat: no-repeat;
    @include mobile {
      padding: 25% 0 50% 0;
    }
    @include computer {
      padding-bottom: 20px;
      padding-top: 180px;
      // height: 754px;
    }
    .young-adults-page-top-title {
      text-align: left;
      font: 40px/45px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #333333;
      opacity: 1;
    }
    .young-adults-page-top-subtext {
      @include mobile {
        font: 20px/25px TTNormsProRegular;
        letter-spacing: 0.4px;
      }
      @include computer {
        font: 22px/32px TTNormsProRegular;
        letter-spacing: 0.44px;
      }
      color: #333333;
      opacity: 1;
      text-align: left;
      .bold {
        font-family: TTNormsProBold, serif;
      }
    }
    .young-adults-page-top-subtext::first-letter {
      @include mobile {
        margin-top: 0.285em;
        margin-right: 0.285em;
      }
      @include computer {
        margin-top: 0.4em;
        margin-right: 0.25em;
      }
      float: left;
      text-align: center;
      font: 95px/30px TTNormsProBoldItalic;
      letter-spacing: 0;
      color: #ff6666;
      opacity: 1;
    }
  }
  .young-adults-page-text {
    text-align: left;
    color: #333333;
    opacity: 1;
    @include mobile {
      font: 20px/25px TTNormsProRegular;
      letter-spacing: 0.4px;
    }
    @include computer {
      font: 22px/32px TTNormsProRegular;
      letter-spacing: 0.44px;
    }
    &.purple {
      color: #777eff;
      font-family: TTNormsProBold, serif;
      .red {
        color: #ff6666;
      }
    }
    .bold {
      font-family: TTNormsProBold, serif;
    }
  }
  .young-adults-page-footer-image {
    margin-top: -20vh;
  }
}
