@import 'app/shared/common.scss';
/* ==========================================================================
Header styles
========================================================================== */

.app-header {
  .header {
    height: 80px !important;
    margin: 0 !important;
    border-style: none !important;
    &.white {
      background-color: white !important;
    }
    &.gradient {
      background: transparent linear-gradient(133deg, #ffffff 0%, #e3e3e6 100%) 0% 0% no-repeat fixed;
    }
    &.transparent {
      background: transparent;
    }
  }
}

/* ==========================================================================
SideBar styles
========================================================================== */

.sidebar-menu {
  background: transparent;
  border-style: none;
  @include mobile {
    margin: 4vh 0 0 39vw !important;
  }
  @include computer {
    margin: 15px 0 0 220px !important;
  }
  .insta,
  .youtube,
  .facebook {
    @include mobile {
      padding: 0 3vw !important;
    }
    @include computer {
      padding: auto !important;
    }
  }
}

.sidebar-list {
  width: 144px;
  @include mobile {
    margin: 5vh 0 0 46vw !important;
  }
  @include computer {
    margin: 8vh 0 0 252px !important;
  }
  .sidebar-item {
    font-family: TTNormsProMediumItalic, serif;
    font-size: 20px;
    line-height: 34px !important;
    text-align: center !important;
    padding: 0 !important;
    height: 23px !important;
    span {
      padding: 7px;
      color: #ffffff !important;
      opacity: 0.35 !important;
    }
    @include mobile {
      margin-bottom: 4.5vh !important;
    }
    @include computer {
      margin-bottom: 5vh !important;
    }
    a:active {
      color: #ffffff;
      opacity: 1;
      border: 1px solid #ffffff;
    }
  }
}

.sidebar-collaboration-menu {
  position: fixed;
  bottom: 0;
  background: transparent;
  borderstyle: none;
  @include mobile {
    margin: 0 30px 34px 120px !important;
  }
  @include computer {
    margin: 0 10% 0 182px !important;
  }
  .sidebar-collaboration {
    font-size: 12px;
    line-height: 52px !important;
    text-align: center !important;
    letter-spacing: 0 !important;
    color: #ffffff !important;
    padding: 0 !important;
  }
  .ekke {
    @include mobile {
      width: 40px;
      height: 36px;
    }
    @include computer {
      width: auto;
      height: auto;
    }
  }
  .athena {
    @include mobile {
      width: 40px;
      height: 36px;
    }
    @include computer {
      width: auto;
      height: auto;
    }
  }
}

.sidebar-list > .sidebar-item.active {
  background: rgb(0, 0, 0, 0) !important;
  span {
    color: #ffffff !important;
    opacity: 1 !important;
    border: 1px solid #ffffff !important;
    border-radius: 20px 20px 0 20px;
  }
}
