@import 'app/shared/common.scss';

.news-editor-page {
  padding: 4em 1em 1em 1em;
  margin: 2em 1em 1em;
  .news-editor-toolbar {
    background: transparent;
    border-style: none;
  }
  .news-editor-container {
    border: 1px solid #000;
    background-color: white;
    height: 60vh;
    overflow-y: auto;
  }
}

.news-display-page {
  padding: 4em 1em 1em 1em;
  margin: 2em 1em 1em;
  font-family: TTNormsProMedium;
  strong {
    font-family: TTNormsProBold;
  }
}
